<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../templates/head') %>
    <link rel="stylesheet" href="/css/kasol.css">
  </head>
  <body>
    <div class="">
      <a href="/destination"><i class="fas fa-circle fa-3x"></i>
      <i class="fas fa-arrow-left fa-2x text-light bg-transparent" style="margin: 2.45rem 0 0 2rem!important;"></i></a>
    </div>

    <section class="parallax1"></section>

    <section>
      <h1 class="display-2 text-center bg-success p-4 mx-4"><b>Kasol Trek</b></h1>
      <div class="container py-4">
        <h1 class="text-center">Kheerganga / Malana / Tosh</h1>
        <p class="lead">Situated between the towns of Bhuntar and Manikaran and on the banks of Parvati Valley, Kasol is a hamlet in the District of Kullu, with an average distance of about 500 kms from Delhi. It is often referred to as the Amsterdam of India because of it’s deep serene skies, pine trees and gushing waterfalls. It is a 4-day trip from Delhi. Over the time, Kasol has become a hub for tourist, trekkers and nature lovers. It has also become popular as it serves as a center for various trekking trails which include treks to Kasol-Kheerganga, Kasol-Tosh, Kasol-Malana. Taking a stroll along the rippling and sparkling Parvati Valley is one of the best ways to spend your time in Kasol.</p>
      </div>
    </section>

    <section class="parallax2"></section>

    <section>
      <h1 class="display-2 text-center bg-success p-4 mx-4"><b>About the Trek</b></h1>
      <div class="container py-4">
        <h3>Kasol-Malana</h3>
        <p class="lead">Malana is an ancient Indian village in the state of Himachal Pradesh. This solitary village in the Malana Nala, a side valley of the Parvati Valley to the north-east of Kullu Valley, is isolated from the rest of the world due to which it has an enriched beauty. The locals claim it to be one of the oldest democracies of the world with a well-organized parliamentary system, guided by their devta. It is around 21kms from Kasol and your trekking trail takes you through some of the majestic scenes of the region. The Village is guarded by towering peaks and is certainly not easy to climb. Malana is an unusual village guarded by the pines; away from the mainstream. The silvery moon and the twinkling stars bedeck the sky, the snow-capped mountains, and the rising and setting sun are in itself an unforgettable glory. To experience snowfall you can trek to Malana from Mid – December to February first week.</p>
        <br>
        <h3>Kasol-Kheerganga</h3>
        <p class="lead">Kheerganga trek is an 11 km trek (one way) and has quite a few tricky paths up its sleeve. The best time for this trek is from April-June and September to November. The trek is not advisable sometimes in harsh winters so package will be modified accordingly. Barshaini is the base camp for the Kheerganga trek from Kasol. Along this trek comes Gurudwara Manikaran Sahib which is famous for it’s hot springs. This whole trek has maggi and coffee points along it and you witness tourists with high spirit trekking their way up and down.</p>
        <br>
        <h3>Kasol-Tosh</h3>
        <p class="lead">------------------------- ye edit kr lena ---------------------------- Kheerganga trek is an 11 km trek (one way) and has quite a few tricky paths up its sleeve. The best time for this trek is from April-June and September to November. The trek is not advisable sometimes in harsh winters so package will be modified accordingly. Barshaini is the base camp for the Kheerganga trek from Kasol. Along this trek comes Gurudwara Manikaran Sahib which is famous for it’s hot springs. This whole trek has maggi and coffee points along it and you witness tourists with high spirit trekking their way up and down.</p>
      </div>
    </section>

    <section class="parallax3"></section>

    <section id="book">
      <h1 class="display-2 text-center bg-success p-4 mx-4"><b>Take the Trek</b></h1>
      <div class="container py-4">
        <p class="lead text-danger">Packages starting @ Rs.6000</p>
        <div class="row">
          <div class="col-lg-6">
            <h1>Kasol Trek Itinerary</h1><br><br>
            <p>DAY 1 - DELHI-MANALI- 530kms|12 hours<br>
            Day 2 - Manali – Jobra (Drive) – 2 hours | Trek from Jobra to Chika-2kms<br>
            Day 3 - Chika– Balu ka Ghera 8KMS TreK | 5hrs<br>
            Day 4 - Balu ka Gera – Siagoru and crossing Hampta Pass | 8hrs<br>
            Day 5 - Siagoru– Chatru and drive to Chandra Tal |4hrs<br>
            Day 6 - Drive from Chandra Tal to Manali via Rohtang Pas-DELHI<br>
            <br></p>
          </div>
          <div class="col-lg-6">
            <form class="" action="index.html" method="post">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" placeholder="Full Name">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="name" class="form-control" placeholder="Email address">
              </div>
              <div class="form-group">
                <label for="number">Number</label>
                <input type="number" id="name" class="form-control" placeholder="Phone number">
              </div>
              <button type="submit" class="btn btn-success" name="button">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
