<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../templates/head') %>
    <link rel="stylesheet" href="/css/valley.css">
  </head>
  <body>

    <div class="">
      <a href="/destination"><i class="fas fa-circle fa-3x"></i>
      <i class="fas fa-arrow-left fa-2x text-light bg-transparent" style="margin: 2.45rem 0 0 2rem!important;"></i></a>
    </div>

    <section class="parallax1"></section>

    <section>
      <h1 class="display-2 text-center bg-success p-4 mx-4"><b>Valley of Flowers Trek</b></h1>
      <div class="container py-4">
        <p class="lead">Valley of Flowers National Park is an Indian national park, located in North Chamoli, in the state of Uttarakhand and is known for its meadows of endemic alpine flowers and the variety of flora. This richly diverse area is also home to rare and endangered animals, including the Asiatic black bear,[1] snow leopard,[1] musk deer,[1] brown bear, red fox[1] and blue sheep. Birds found in the park include Himalayan monal pheasant and other high altitude birds.[2] At 3352 to 3658 meters above sea level, the gentle landscape of the Valley of Flowers National Park complements the rugged mountain wilderness of Nanda Devi National Park to the east.[3] Together, they encompass a unique transition zone between the mountain ranges of the Zanskar and Great Himalaya. The park stretches over an expanse of 87.50 km2 and it is about 8 km long and 2 km wide.[2] Both parks are encompassed in the Nanda Devi Biosphere Reserve (223,674 ha) which is further surrounded by a buffer zone (5,148.57 km2).[4] Nanda Devi National Park Reserve is in the UNESCO World Network of Biosphere Reserves.</p>
      </div>
    </section>

    <section class="parallax2"></section>

    <section>
      <h1 class="display-2 text-center bg-success p-4 mx-4"><b>About the Trek</b></h1>
      <div class="container py-4">
        <p class="lead">The Valley of Flowers Trek is a 4 day long trek with an average of 6 hours of trekking per day. Govindghat is the starting point for trek to Hemkund Sahib and Valley of Flowers. It is approx 22 km from Joshimath at the confluence of Alaknanda and Lakshman Ganga rivers. Ghangaria is the base camp for the trek to the valley. It is a 11-hour drive from Rishikesh. At Ghangaria, there are private lodges and hotels for accommodation. Here only North Indian food is served along with few popular Chinese, Punjabi, Garhwali dishes. There are no eating joints in the valley hence it is recommended to take packed lunch, refreshments if you are heading towards the valley. Hemkund Sahib, Mana Village, Nanda Devi national park are some of the top places to visitin Valley of Flowers. This trek sums up to an average cost of around 6500-7500 INR depending upon the facilities.
        </p>
      </div>
    </section>

    <section class="parallax"></section>

    <section id="book">
      <h1 class="display-2 text-center bg-success p-4 mx-4"><b>Take the Trek</b></h1>
      <div class="container py-4">
        <p class="lead text-danger">Packages starting @ Rs.7500</p>
        <div class="row">
          <div class="col-lg-6">
            <h1>Valley of flower trek itinerary</h1><br><br>
            <p>DAY 1: DELHI-GOVINDGHAT       (510 kms| 14 hours) <br>
              DAY 2: GOVINDGHAT-GHANGARIA  (14 kms) <br>
              DAY 3: GHANGARIA-VALLEY OF FLOWERS - GHANGARIA (5 hours of trek)<br>
              DAY 4: GHANGARIA - HEMKUND SAHIB - GHANGARIA   (7 hours of trek)<br>
              DAY 5: Ghangaria – Govindghat   (hours of trek)<br>
              DAY 6: GOVINDGHAT-DELHI
            </p>
          </div>
          <div class="col-lg-6">
            <form class="" action="index.html" method="post">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" placeholder="Full Name">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="name" class="form-control" placeholder="Email address">
              </div>
              <div class="form-group">
                <label for="number">Number</label>
                <input type="number" id="name" class="form-control" placeholder="Phone number">
              </div>
              <button type="submit" class="btn btn-success" name="button">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>


  </body>
</html>
