<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('templates/head') %>
    <link rel="stylesheet" href="/css/culture.css">
  </head>
  <body>
    <%- include('templates/nav') %>
    <%- include('templates/foot') %>
  </body>
</html>
