<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('templates/head') %>
    <link rel="stylesheet" href="/css/destination.css">
</head>

<body>
    <%- include('templates/nav') %>
    <section class="parallax1"></section>
    <div class="container-fluid cf winter-neva-gradient">

        <div class="container pt-5 pb-2">
            <div class="card px-5 py-3">
                <div class="row">
                    <div class="col-lg-4 col-md-3 col-sm-6 col-12">
                        <img class="img-thumbnail rounded float-left" src="/img/valley1.jpg" alt="Card image cap">
                    </div>
                    <div class="col-lg-8 col-md-9 col-sm-6 col-12">
                        <div class="card-body">
                            <h5 class="card-title">Valley Of Flowers</h5>
                            <p class="card-text">Valley of flowers is in itself a UNESCO World Heritage Site exhibiting plush meadows. The trek goes through dense forests, along with Pushpawati river and can be reached by crossing many bridges, glaciers and waterfalls on the way.</p>
                            <a href="/destination/valley-of-flowers" class="btn btn-primary">More Information</a>
                            <a href="/destination/valley-of-flowers/#book" class="btn btn-deep-purple">Book Destination</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-2">
            <div class="card px-5 py-3">
                <div class="row">
                    <div class="col-lg-4 col-md-3 col-sm-6 col-12">
                        <img class="img-thumbnail rounded float-left" src="/img/place/chandrishilla.jpg" alt="Card image cap">
                    </div>
                    <div class="col-lg-8 col-md-9 col-sm-6 col-12">
                        <div class="card-body">
                            <h5 class="card-title">Chandrishilla Peak-Deoriatal: </h5>
                            <p class="card-text">This trek is one of the most easiest treks you would find with some mind boggling views and highlights that would fill up your mind with just amazing and everlasting memories. It is a 3 day trek that suits well for the weekends ! I mean , what else do you want in life when you can spend your weekends in the equanimity of the Himalayas. The highlights of the trek are Mt. Chaukhamba ,Deoriatal lake’s scenic beauty and of course the Tungnath temple ,which is also world’s highest Lord shiva’s temple! Har har Mahadev!
                                The trek commences from a village , sari and marks its end at Chopta which is also a gateway to Tungnath temple and Chandrshilla peak. So guys, what are you waiting for? Assemble your trekking clothes and equipment and embark on a beautiful journey to receive blessings from “Devo ke dev Mahadev” (the greatest god Mahadev).

                            </p>
                            <a href="/destination/chandrishilla" class="btn btn-primary">More Information</a>
                            <a href="/destination/chandrishilla/#book" class="btn btn-deep-purple">Book Destination</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-2">
            <div class="card px-5 py-3">
                <div class="row">
                    <div class="col-lg-4 col-md-3 col-sm-6 col-12">
                        <img class="img-thumbnail rounded float-left" src="/img/place/Kasol.jpg" alt="Card image cap">
                    </div>
                    <div class="col-lg-8 col-md-9 col-sm-6 col-12">
                        <div class="card-body">
                            <h5 class="card-title">Kasol</h5>
                            <p class="card-text">Kasol is a hamlet in the district kullu of Himachal Pradesh. It is situated in Parvati valley ,on the banks of the parvati river and is one of the most safest treks for lone travellers.
                                It has a good weather throughout the year but the best time to travel there is summer season. A person would be able to witness the scenic beauty of the mountains. You would be able to wander in the greenery of the trees and would hear the free flowing sound of the serene and pious water of the Parvati river . That’s evident enough to say that you would certainly have the most congenital and peaceful time of your life. And a fact for y’all, kasol is known as Mini Israel. But Why?
                                Uhmm, the reason is for you to find!
                            </p>
                            <a href="/destination/kasol" class="btn btn-primary">More Information</a>
                            <a href="/destination/kasol/#book" class="btn btn-deep-purple">Book Destination</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-2">
            <div class="card px-5 py-3">
                <div class="row">
                    <div class="col-lg-4 col-md-3 col-sm-6 col-12">
                        <img class="img-thumbnail rounded float-left" src="/img/place/triund3.jpg" alt="Card image cap">
                    </div>
                    <div class="col-lg-8 col-md-9 col-sm-6 col-12">
                        <div class="card-body">
                            <h5 class="card-title">Triund with lahesh caves: </h5>
                            <p class="card-text">Triund is a small hill station in the Kangra
                                district in the state of Himachal Pradesh, India.
                                Triund is a part of Dharamkot and is at the foot
                                of the Dhaluadhar rangest. It is at a height of
                                2828 meters.It offers excellent panoramic views of the
                                Dhauladhar ranges along every bend of its trail.
                                The trek is easy and would take at best four
                                hours to complete. Once you cross the green
                                grassy meadows, you will have the clouds
                                waiting for you. So, don’t you dare forget your
                                cameras at home! You can try hiking to the
                                Kareri lake, where you would explore rock-cut
                                caves. The most beautiful view at Triund is
                                when the sun rises and spread its ray of hope.
                                Your eyes will capture a view that would be
                                impossible to forget for the rest of your life.
                                Also, there are a number of return trails from

                                Triund, one of which passes along the upper
                                reaches of the Bhagsu waterfalls.</p>
                            <a href="/destination/lahesh" class="btn btn-primary">More Information</a>
                            <a href="/destination/lahesh/#book" class="btn btn-deep-purple">Book Destination</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-3"></div>
    </div>


    <section class="parallax2"></section>
    <div class="container-fluid cf peach-gradient">

        <div class="container pt-5 pb-2">
            <div class="card px-5 py-3">
                <div class="row">
                    <div class="col-lg-4 col-md-3 col-sm-6 col-12">
                        <img class="img-thumbnail rounded float-left" src="/img/place/Hampta2.jpg" alt="Card image cap">
                    </div>
                    <div class="col-lg-8 col-md-9 col-sm-6 col-12">
                        <div class="card-body">
                            <h5 class="card-title">Hampta Pass</h5>
                            <p class="card-text">Hampta is the most easiest and convenient treks of all the Himachal Pradesh’s trek but it’s beauty will leave you in awe of this place .It contains beautiful meadows, mystical glaciers, peace and serenity is what attracts the trekkers here.

                                The trek is of about 4 days but 1 more day can be added to the itinerary to visit the famous Chandrataal , a high altitude alpine lake few hours from Chatru. The best month to trek are May and June and August through September.
                                The reason why this trek is so prevalent is because of its lump sum snow. The nearest station to the pass is Manali . So , you can even witness the equanimity of the river Beas at its outskirts .
                            </p>
                            <a href="/destination/hampta" class="btn btn-primary">More Information</a>
                            <a href="/destination/hampta/#book" class="btn btn-deep-purple">Book Destination</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-2">
            <div class="card px-5 py-3">
                <div class="row">
                    <div class="col-lg-4 col-md-3 col-sm-6 col-12">
                        <img class="img-thumbnail rounded float-left" src="/img/trip/Dayara%20bugya1.jpg" alt="Card image cap">
                    </div>
                    <div class="col-lg-8 col-md-9 col-sm-6 col-12">
                        <div class="card-body">
                            <h5 class="card-title">Dayara Bugyal</h5>
                            <p class="card-text">Do you know what a Bugyal means? Basically, it’s a meadow, whose grasslands provides nutritious grass to the cattle. It is a moderate trek that would be leave you with jaw dropping views and scenery.
                                This trek commences from the Barsu village in the Utarkashi district of the Uttarakhand state and is about 15 kilometers long but from Barsu village ,it abates to 8 kilometers only. The backdrop of this exquisite meadow also comprises of Kala Nag(Black snake) and Bandar pooch(monkey tail). There’s also a beautiful lake overlooking to the mountains which is around 28 kilometers in area and is the perfect place to set up camps for the trekkers
                                During the winters, it becomes even more beautiful when the snow-clad mountains amaze people with their white color that is also a symbol of peace and instills a feeling of mixed emotions in the trekkers. Oh by the way, you will also witness some 600m peaks there like Jaonli, Bhagirathi, Mount Srikanth and Draupati ka Danda.
                                So, don’t just read ,get up and visit there to witness some of the most breath taking views that will make your life worth living!
                            </p>
                            <a href="/destination/dayara" class="btn btn-primary">More Information</a>
                            <a href="/destination/bayara/#book" class="btn btn-deep-purple">Book Destination</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-2">
            <div class="card px-5 py-3">
                <div class="row">
                    <div class="col-lg-4 col-md-3 col-sm-6 col-12">
                        <img class="img-thumbnail rounded float-left" src="/img/place/Kedar%202.jpg" alt="Card image cap">
                    </div>
                    <div class="col-lg-8 col-md-9 col-sm-6 col-12">
                        <div class="card-body">
                            <h5 class="card-title">Kedarkanth</h5>
                            <p class="card-text">Kedarnatha ,located at a height of 3200 meters is considered to be an easy beginner trek . The trekkers would commence their journey from Sankri village and would cover a total distance of 23 kilometers. Depending on the time, the trek can completed in 2-4 days starting from sankri village.
                                The trek contains everything a trekker asks for in his trekking journey. From snow clapped Himalayas to lush landscapes ; from a wide variety of flora to such beautiful views that will make your eyes wet with tears of joy and surprise . Physical fitness is always necessary although it is an trek. A person must be able to run 4 kilometers in 30 minutes to be fit for the trek. Rest of the mysteries, I leave it up to you discover. So, GET, SET and G0!!
                            </p>
                            <a href="/destination/kedarkanth" class="btn btn-primary">More Information</a>
                            <a href="/destination/kedarkanth/#book" class="btn btn-deep-purple">Book Destination</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-2">
            <div class="card px-5 py-3">
                <div class="row">
                    <div class="col-lg-4 col-md-3 col-sm-6 col-12">
                        <img class="img-thumbnail rounded float-left" src="/img/valley1.jpg" alt="Card image cap">
                    </div>
                    <div class="col-lg-8 col-md-9 col-sm-6 col-12">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <a href="/destination/valley-of-flowers" class="btn btn-primary">More Information</a>
                            <a href="/destination/valley-of-flowers/#book" class="btn btn-deep-purple">Book Destination</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-3"></div>
    </div>

    <%- include('templates/foot') %>
</body>

</html>