<div class="row">
    <div class="col-lg-4">
        <div class="p-5 text-center">
            <div class="icon py-2">
                <!-- <img src="/img/svg_icon/1.svg" alt=""> -->
            </div>
            <h3>Comfortable Journey</h3>
            <p>The packages can be either from delhi to delhi or an easily rechable city
                in same state.</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="p-5 text-center">
            <div class="icon py-2">
                <!-- <img src="/img/svg_icon/2.svg" alt=""> -->
            </div>
            <h3>Comfortable Journey</h3>
            <p>The packages can be either from delhi to delhi or an easily rechable city
                in same state.</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="p-5 text-center">
            <div class="icon py-2">
                <!-- <img src="/img/svg_icon/3.svg" alt=""> -->
            </div>
            <h3>Comfortable Journey</h3>
            <p>The packages can be either from delhi to delhi or an easily rechable city
                in same state.</p>
        </div>
    </div>
</div>
