<div class="footer-v1 bg-img py-5 foot">
    <div class="footer no-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-4 py-3">
                    <center><img src="/img/vantage.jpg" style="height:120px!important" class="img-fluid p-1 bg-light" alt=""></center>
                    <br><br>
                    <h2 class="lead text-light pl-5" style="font-size:160%;">Conquer the Himalayas...!!!</h2>
                </div>
                <div class="col-md-4">
                    <div class="headline">
                        <p class="lead text-light font-weight-bold">Posts</p>
                    </div>
                    <ul class="list-unstyled link-list">
                        <li><a href="#">Blogs</a></li>
                        <li class="text-light">We are also working with bloggers and vloggers who are working to spread the pahadi culture that needs to be preserved so have a look right here. </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="headline">
                        <p class="lead text-light font-weight-bold">Support</p>
                    </div>
                    <address>
                        <ul class="list-unstyled link-list">
                            <li><a href="#">Contact Us</a></li>
                            <li>
                                <span class="text-light"><i class="fa fa-envelope"></i></span>
                                <span class="text-light"> EMAIL:</span>
                                <a href="#" class="text-light"> conquerthehimalayas@gmail.com
                                </a>
                            </li>
                            <li class="text-light">
                                PHONE NUMBER: +91-7838690429
                            </li>
                        </ul>
                    </address>
                </div>
            </div>
            <center>
                <hr class="bg-light text-center w-75">
            </center>
            <div class="row justify-content-center pl-5">
                <p class="lead text-light">&copy; ConquerTheHimalayas</p>
            </div>
        </div>
    </div>
</div>
