<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../templates/head') %>
    <link rel="stylesheet" href="/css/lahesh.css">
  </head>
  <body>

    <div class="">
      <a href="/destination"><i class="fas fa-circle fa-3x"></i>
      <i class="fas fa-arrow-left fa-2x text-light bg-transparent" style="margin: 2.45rem 0 0 2rem!important;"></i></a>
    </div>

    <section class="parallax1"></section>

    <section>
      <h1 class="display-2 text-center bg-success p-4 mx-4"><b>Lahesh / Triund Trek</b></h1>
      <div class="container py-4">
        <h2>Triund</h2>
        <p class="lead">The Triund trek is probably one of the easiest trek in the Himalayas. During a short 3-4 days trek, you will be able to get spectacular views of the Dhauladhar range of the Himalayas and get to breathe the amazingly fresh air of the mountains. The trip starts from Mcleodganj and reaches Triund in a few hours. Mcleodganj is a suburb of Dharamshala in Kangra district of Himachal. It is a beautiful village known for its monasteries, museums, temples, waterfalls, lakes, and Tibetan settlements. The trek start from the Main Square in Mcleodganj that gives an amazing view of City- the beautiful houses, shop, kids playing around and local people.</p>
        <br>
        <h2>Lahesh Cave</h2>
        <p class="lead">The first stop along this trek is Triund. It is a small hill station that gives you an immensely beautiful view of the hills and has a lot of cafes. This trek then concludes to the Lahesh caves. Lahesh caves is an ideal trekking route for adventurers who wish to explore beyond an one day easy Triund trek. The trail of this trek gives a breathtaking panoramic view of the Dhauladhars. The best time to visit this place is from May-June and from September-Decembers.</p>
      </div>
    </section>

    <section class="parallax2"></section>

    <section>
      <h1 class="display-2 text-center bg-success p-4 mx-4"><b>About the Trek</b></h1>
      <div class="container py-4">
        <p class="lead">The Valley of Flowers Trek is a 4 day long trek with an average of 6 hours of trekking per day. Govindghat is the starting point for trek to Hemkund Sahib and Valley of Flowers. It is approx 22 km from Joshimath at the confluence of Alaknanda and Lakshman Ganga rivers. Ghangaria is the base camp for the trek to the valley. It is a 11-hour drive from Rishikesh. At Ghangaria, there are private lodges and hotels for accommodation. Here only North Indian food is served along with few popular Chinese, Punjabi, Garhwali dishes. There are no eating joints in the valley hence it is recommended to take packed lunch, refreshments if you are heading towards the valley. Hemkund Sahib, Mana Village, Nanda Devi national park are some of the top places to visitin Valley of Flowers. This trek sums up to an average cost of around 6500-7500 INR depending upon the facilities.
        </p>
      </div>
    </section>

    <section class="parallax"></section>

    <section id="book">
      <h1 class="display-2 text-center bg-success p-4 mx-4"><b>Take the Trek</b></h1>
      <div class="container py-4">
        <p class="lead text-danger">Packages starting @ Rs.7500</p>
        <div class="row">
          <div class="col-lg-6">
            <h2>Trek itinerary for triund:</h2><br>
            DAY 1- DELHI-MCLEODGANJ- 480kms| 11hours<br>
            DAY 2- MCLEODGANJ – TRIUND- 9kms| 4 hours (visit to Kangra valley etc)<br>
            <br>
            <h2>Itinerary for Lahesh Caves: </h2>
            DAY 3- Early morning walk to Lahesh cave (5 hrs max)<br>
            Glacier walks for 1.5km <br>
            Arrival at Lahesh caves <br>
            Return to Triund<br>
            <br>
            DAY 4- TRIUND-MCLEODGANJ-DELHI
            <br>
            <br>
          </div>
          <div class="col-lg-6">
            <form class="" action="index.html" method="post">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" placeholder="Full Name">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="name" class="form-control" placeholder="Email address">
              </div>
              <div class="form-group">
                <label for="number">Number</label>
                <input type="number" id="name" class="form-control" placeholder="Phone number">
              </div>
              <button type="submit" class="btn btn-success" name="button">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>


  </body>
</html>
