<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../templates/head') %>
    <link rel="stylesheet" href="/css/blog.css">
  </head>
  <body>
    <%- include('../templates/nav') %>
  <section class="sec1">
  <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100 img" src="/img/Blogimg/bagpack.jpg" alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h3 class=" display-4">Travel Blogs</h3>
          <p class="lead">Experiences shared by travellers personally</p>
          <a href="#" class="btn peach-gradient">Visit</a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <img class="d-block w-100 img" src="/img/place/tosh.jpg" alt="Second slide">
          <div class="mask rgba-black-strong"></div>
        </div>
        <div class="carousel-caption">
          <h3 class=" display-4">Cultural Blogs</h3>
          <p class="lead">The pahadi culture that we need to save and make people realise the beauty of it</p>
          <a href="#" class="btn blue-gradient">Visit</a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <img class="d-block w-100 img ab" src="/img/Blogimg/essentials.jpg" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption th">
          <h3 class=" display-4">Trekking Neccessities</h3>
          <p class="lead">For most things one should have in mind before trekking because beauty</p>
          <a href="#" class="btn young-passion-gradient">Visit</a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </section>

<section class="mt-5 mb-3">
  <h1 class="text-center"><u>Some of the top picks</u></h1>
</section>

<section class="m-5">
<div id="multi-item-example" class="carousel slide mb-4 carousel-multi-item" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="row mb-2 px-5 elegant-color ron">
        <h2 class="text-center px-5 py-2 mx-auto text-light">Travel Blog</h2>
      </div>
      <div class="row">
      <div class="col-md-4">
        <div class="card mb-2">
          <div class="view overlay">
            <img class="card-img-top" src="/img/Blogimg/Endurance%20tr.jpg" alt="Card image cap">
            <a><div class="mask rgba-white-slight"></div></a>
          </div>
          <div class="card-body elegant-color white-text rounded-bottom">
            <h4 class="card-title">TREKKING: IMPORTANCE OF ENDURANCE  AND HOW TO TRAIN FOR IT</h4>
            <p class="card-text white-text mb-4">For years people have been wondering what trekking actually is ? Well the simplest answer to this is, ”walking for longer distances through the mountain ranges is called trekking.” 
But , for a person that’s obsessed with trekking, it would hold a very different meaning. 
</p>
            <span class=" d-flex justify-content-end"><a href="#!" class="white-text"><h5 class="badge " style="font-size:130%">Read more <i class="fas fa-angle-double-right"></i></h5></a></span>
          </div>
        </div>
      </div>
          
          
      <div class="col-md-4">
        <div class="card mb-2">
          <div class="view overlay">
            <img class="card-img-top" src="/img/place/Kheerganga.jpg" alt="Card image cap">
            <a><div class="mask rgba-white-slight"></div></a>
          </div>
          <div class="card-body elegant-color white-text rounded-bottom">
            <h4 class="card-title">Kasol-Kheerganga Travel Blog</h4>
            <p class="card-text white-text mb-4">Kasol to Kheerganga is an aesthetically pleasing, soothing trekking experience that is really meant for all kinds of trekkers with all kinds of experiences-beginner or advanced. I had the time of my life because I was accompanied by friends and all.</p>
            <span class=" d-flex justify-content-end"><a href="#!" class="white-text"><h5 class="badge " style="font-size:130%">Read more <i class="fas fa-angle-double-right"></i></h5></a></span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-2">
          <div class="view overlay">
            <img class="card-img-top" src="/img/Blogimg/Altitude%20sickness.jpg" alt="Card image cap">
            <a><div class="mask rgba-white-slight"></div></a>
          </div>
          <div class="card-body elegant-color white-text rounded-bottom">
            <h4 class="card-title">Altitude Sickness: </h4>
            <p class="card-text white-text mb-4">Trekking is not cool?? Then here’s how you can make it beautiful.</p>
            <span class=" d-flex justify-content-end"><a href="#!" class="white-text"><h5 class="badge " style="font-size:130%">Read more <i class="fas fa-angle-double-right"></i></h5></a></span>
          </div>
        </div>
      </div>
          
          
    </div>
    </div>
    <div class="carousel-item">
      <div class="row mb-2 px-5 elegant-color ron">
        <h2 class="text-center p-2 mx-auto text-light">Cultural Blog</h2>
      </div>
      <div class="row">
      <div class="col-md-4">
        <div class="card mb-2">
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" alt="Card image cap">
            <a><div class="mask rgba-white-slight"></div></a>
          </div>
          <div class="card-body elegant-color white-text rounded-bottom">
            <h4 class="card-title">Card title</h4>
            <p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <span class=" d-flex justify-content-end"><a href="#!" class="white-text"><h5 class="badge " style="font-size:130%">Read more <i class="fas fa-angle-double-right"></i></h5></a></span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-2">
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" alt="Card image cap">
            <a><div class="mask rgba-white-slight"></div></a>
          </div>
          <div class="card-body elegant-color white-text rounded-bottom">
            <h4 class="card-title">Card title</h4>
            <p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <span class=" d-flex justify-content-end"><a href="#!" class="white-text"><h5 class="badge " style="font-size:130%">Read more <i class="fas fa-angle-double-right"></i></h5></a></span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-2">
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" alt="Card image cap">
            <a><div class="mask rgba-white-slight"></div></a>
          </div>
          <div class="card-body elegant-color white-text rounded-bottom">
            <h4 class="card-title">Card title</h4>
            <p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <span class=" d-flex justify-content-end"><a href="#!" class="white-text"><h5 class="badge " style="font-size:130%">Read more <i class="fas fa-angle-double-right"></i></h5></a></span>
          </div>
        </div>
      </div>
    </div>
    </div>
      
      <!---
      
    <div class="carousel-item">
      <div class="row mb-2 px-5 elegant-color ron">
        <h2 class="text-center p-2 mx-auto text-light">Trekking Neccessities</h2>
      </div>
      <div class="row">
      <div class="col-md-4">
        <div class="card mb-2">
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" alt="Card image cap">
            <a><div class="mask rgba-white-slight"></div></a>
          </div>
          <div class="card-body elegant-color white-text rounded-bottom">
            <h4 class="card-title">Card title</h4>
            <p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <span class=" d-flex justify-content-end"><a href="#!" class="white-text"><h5 class="badge " style="font-size:130%">Read more <i class="fas fa-angle-double-right"></i></h5></a></span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-2">
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" alt="Card image cap">
            <a><div class="mask rgba-white-slight"></div></a>
          </div>
          <div class="card-body elegant-color white-text rounded-bottom">
            <h4 class="card-title">Card title</h4>
            <p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <span class=" d-flex justify-content-end"><a href="#!" class="white-text"><h5 class="badge " style="font-size:130%">Read more <i class="fas fa-angle-double-right"></i></h5></a></span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-2">
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" alt="Card image cap">
            <a><div class="mask rgba-white-slight"></div></a>
          </div>
          <div class="card-body elegant-color white-text rounded-bottom">
            <h4 class="card-title">Card title</h4>
            <p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <span class=" d-flex justify-content-end"><a href="#!" class="white-text"><h5 class="badge " style="font-size:130%">Read more <i class="fas fa-angle-double-right"></i></h5></a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
      
      --->
  </div>
</div>
<div class="controls-top mx-auto text-center p-2">
  <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left elegant-color p-2 rounded text-light fa-2x"></i></a>&nbsp&nbsp&nbsp
  <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right elegant-color p-2 rounded text-light fa-2x"></i></a>
</div>
  </section>

  <%- include('../templates/foot') %>
  </body>
</html>
